
/* VARIABLES Y FUENTE */

:root{
    --container-color: rgba(181, 181, 181, .75);
    --button-color: rgba(255, 255, 255, 0.79);

}

@font-face {
    font-family: "Among Us";
    src: url("./images/amongus\ vector.ttf");
}

*{
    margin:0;
    padding: 0;
    list-style: none;
    color: #000;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Among Us";
}

body {
    background-image: url(./images/fondo\ de\ amongus.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.cabecera {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 4rem;
    padding: 0 2rem;
    background-color: var(--container-color);
}

.cabecera > .logo > p {
    font-size: 4rem;
    font-weight: bold;
}
.navbar > ul {
    display: flex;
}

.navbar > ul > li {
    margin: 0 1rem;
  
}

.navbar > ul > li > a{
    font-size: 1.9rem;
}

.navbar > ul > li > a >h3:hover{
    background-color:var(--button-color);
    padding: 3px .8rem;
    border-radius: 25px;
    text-decoration: underline black;
}


.main-banner{
    display: flex;
    margin-top: 5rem;
    padding: .5rem;
    border-radius: 10px ;
    background-color: var(--container-color);
}

.main-banner > .banner-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 4rem;
}

.main-banner > iframe{
    border-radius: 7px;
    margin: .5rem;
}
